@use "../../styles/variables.module.scss" as *;

.gFooterByMariePierreLessard {
    background-color: $clr-bg-globalfooter-by-Marie-Pierre-Lessard;
    min-height: $size-minimum-dev-by-Marie-Pierre-Lessard;
}