@use "./styles/variables.module.scss" as *;

/* This is a <div> element inside of body in index.html.
It is where the App component is rendered. This styling is specific to that div, so it has to be applied to the App component
from the file App.scss. It is the global styles that are supposed to be declared in main.scss.
When I put these declarations in the file main.scss, it affected my layout in a mysterious way!
The wrapper that I defined was not applied, and the dimensions of the pictures were therefore not what one could expect.
*/
#rootByMariePierreLessard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

