@use "../../styles/variables.module.scss" as *;

.pageBasicsByMariePierreLessard {
    min-height: $size-empty-page-by-Marie-Pierre-Lessard;
    padding-top: $size-main-top-mg-by-Marie-Pierre-Lessard;
    padding-bottom: $size-main-bottom-mg-by-Marie-Pierre-Lessard;
}