@use "./variables.module.scss" as *;

/* #region Edited version of mixins in react-pros-and-cons (various assignments) */
/* reset-list and a portion of horizontal-list are taken from https: //sass-lang.com/documentation/at-rules/mixin */
@mixin resetListByMariePierreLessard {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@mixin horizontalListByMariePierreLessard {
    @include resetListByMariePierreLessard;

    display: flex;
    flex-direction: row;
    gap: $size-small-spacing-by-Marie-Pierre-Lessard;
}

@mixin verticalListByMariePierreLessard {
    @include resetListByMariePierreLessard;

    display: flex;
    flex-direction: column;
    gap: $size-small-spacing-by-Marie-Pierre-Lessard;
}
/* #region Edited version of mixins in react-pros-and-cons (various assignments) */

@mixin gridMobilesWRegGapByMariePierreLessard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 100vh);
    gap: $size-small-spacing-by-Marie-Pierre-Lessard;
}

@mixin gridTabletsWRegGapByMariePierreLessard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vh;
    gap: $size-small-spacing-by-Marie-Pierre-Lessard;
}
