@use "../../styles/variables.module.scss" as *;
@use "../../styles/mixins.module.scss" as *;

/* #region Library styling (basic, with responsiveness) */
.gridWoPassePartoutByMariePierreLessard {
    @include gridMobilesWRegGapByMariePierreLessard;
    margin-block: $size-reg-spacing-by-Marie-Pierre-Lessard;
}

@media (min-width: 768px) {
    .gridWoPassePartoutByMariePierreLessard {
        @include gridTabletsWRegGapByMariePierreLessard;
    }
}

.gridWPassePartoutByMariePierreLessard {
    @include gridMobilesWRegGapByMariePierreLessard;
    padding: $size-reg-spacing-by-Marie-Pierre-Lessard;
    background-color: $clr-bg-passe-partout-by-Marie-Pierre-Lessard;
}

@media (min-width: 768px) {
    .gridWPassePartoutByMariePierreLessard {
        @include gridTabletsWRegGapByMariePierreLessard;
    }
}

/* #endregion Library styling (basic, with responsiveness) */

/* #region Project-specific styling goes here (overriding library styling) */
/* The grid without passe-partout is in exercise 1. */
.gridWoPassePartoutByMariePierreLessard {
    @include gridMobilesWRegGapByMariePierreLessard;
    grid-template-rows: repeat(2, 100vh); //Replacing auto because of the giant pictures
    margin-block: $size-reg-spacing-by-Marie-Pierre-Lessard;
}

@media (min-width: 768px) {
    .gridWoPassePartoutByMariePierreLessard {
        @include gridTabletsWRegGapByMariePierreLessard;
        grid-template-rows: 90vh; //Replacing auto because of the giant pictures
    }
}

/* The grid with passe-partout is in exercise 2. */
.gridWPassePartoutByMariePierreLessard {
    @include gridMobilesWRegGapByMariePierreLessard;
    grid-template-rows: repeat(4, 88vh); //Replacing auto because the positioned footer is over the body with auto
    padding: $size-reg-spacing-by-Marie-Pierre-Lessard;
    background-color: $clr-bg-passe-partout-by-Marie-Pierre-Lessard;
}

@media (min-width: 375px) {
    .gridWPassePartoutByMariePierreLessard {
        @include gridMobilesWRegGapByMariePierreLessard;
        grid-template-rows: repeat(4, 75vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}

@media (min-width: 425px) {
    .gridWPassePartoutByMariePierreLessard {
        @include gridMobilesWRegGapByMariePierreLessard;
        grid-template-rows: repeat(4, 60vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}

@media (min-width: 768px) {
    .gridWPassePartoutByMariePierreLessard {
        @include gridTabletsWRegGapByMariePierreLessard;
        grid-template-rows: repeat(2, 65vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}

@media (min-width: 1440px) {
    .gridWPassePartoutByMariePierreLessard {
        @include gridTabletsWRegGapByMariePierreLessard;
        grid-template-rows: repeat(2, 45vh); //Replacing auto because the positioned footer is over the body with auto 
    }
}
/* #endregion Project-specific styling */