@use "../../styles/variables.module.scss" as *;

.gHeaderByMariePierreLessard {
    background-color: $clr-bg-globalheader-by-Marie-Pierre-Lessard;
    min-height: $size-minimum-dev-by-Marie-Pierre-Lessard;
}